[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Patch Xauth Cookie
Comment=Path the xauthority cookie so it allows connections from within containers
Exec=cookiepatch
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

