[Unit]
Description=Synchronize desktop files

[Timer]
Unit=sync-desktop.service
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=multi-user.target