[Unit]
Description=Synchronize desktop files
After=incus.service
Requires=incus.service

[Service]
Type=oneshot
ExecStart=run-with-display sync-desktop

[Install]
WantedBy=multi-user.target