[Unit]
Description=Upgrade all containers
After=incus.service
Requires=incus.service

[Service]
Type=oneshot
ExecStart=run-with-display upgrade-containers

[Install]
WantedBy=multi-user.target